<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Off-Campus</title>
    <param name="" value="{{prams}}">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Home Page</h1>
    <p>{{username}}</p>
</body>

</html>